/*  Fontes: */
@font-face {
    font-family: 'Montserrat Regular';
    src: url('/fontes/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/fontes/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url('/fontes/Montserrat-SemiBold.ttf');
}

/*  Cores da Identidade visual: */
*{
    branco: #F7F7FF;
    azul-escuro: #004E64;
    verde: #7AE582;
    azul: #00A5CF;
    verde-piscina: #9FFFCB;
    ciano: #25A18E;
}

.label {
    -fx-font-family: "Montserrat Bold";
}

.text-field {
    -fx-font-family: "Montserrat Regular";
    -fx-accent: branco;
    -fx-background-color: verde, branco;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;
    -fx-prompt-text-fill: #25A18E;
}
.text-field:focused {
    -fx-highlight-fill: azul-escuro;
    -fx-prompt-text-fill: transparent;
}

.buttonDark {
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: transparent;
    -fx-font-size: 10;
    -fx-text-fill: branco;
    -fx-border-color:  verde;
    -fx-border-width:  2;
    -fx-border-radius:  100;
}

.buttonDark:hover {
    -fx-background-color: verde;
    -fx-background-radius: 100;
}

.buttonDark:pressed {
    -fx-background-color: derive(verde,40%);
    -fx-border-color: derive(verde,40%);
    -fx-background-radius: 100;
}

.buttonLight {
    -fx-font-family: "Montserrat SemiBold";
    -fx-background-color: transparent;
    -fx-font-size: 10;
    -fx-text-fill: azul-escuro;
    -fx-border-color: verde;
    -fx-border-radius: 100;
    -fx-border-width: 2;
}

.buttonLight:hover {
    -fx-background-color: verde;
    -fx-background-radius: 100;
}

.buttonLight:pressed {
    -fx-background-color: derive(verde,-20%);
    -fx-border-color: derive(verde,-20%);
    -fx-background-radius:  100;
}

.buttonX{
    -fx-font-family: "Montserrat Bold";
    -fx-background-color: transparent;
    -fx-font-size: 24;
}